.suggestions-container {
  padding: 30px;
  width: 80%;
  max-height: 500px;
  background-color: #000000;
}
.suggestions-body::-webkit-scrollbar {
  display: none;
}

.suggestions-header {
  font-weight: bold;
  color: #8e8e8e;
}

.suggestions-body {
  height: 290px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.suggestion-user {
  display: flex;
  padding: 5px 0;
  margin-top: 10px;
  width: 70%;
  overflow-x: hidden;
}

.suggestion-user-avatar {
  max-width: 35px;
  max-height: 35px;
}

.suggestion-user-username {
  font-weight: bold;
  margin-left: 11px;
  font-size: 14px;
}

.suggestion-user-name {
  margin-left: 11px;
  font-size: 11px;
  color: #8e8e8e;
}

.suggestion-user-follow Button {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 100%;
  color: #0095f6;
  cursor: pointer;
  text-transform: none;
}

.suggestion-user-follow Button:hover {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 100%;
  color: #ffffff;
  cursor: pointer;
}

.suggestion-user-info {
  max-width: 70px;
  overflow-x: hidden;
}

.suggestion-user-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
