.suggestions-container {
  padding: 30px;
}
.suggestions-header {
  font-weight: bold;
  color: #8e8e8e;
}

.suggestions-body {
  height: 290px;
  margin-top: 10px;
}

.suggestion-user {
  display: flex;
  padding: 5px 0;
  margin-top: 10px;
}

.suggestion-user-avatar {
  max-width: 35px;
  max-height: 35px;
}

.suggestion-user-username {
  font-weight: bold;
  margin-left: 11px;
  font-size: 14px;
}

.suggestion-user-name {
  margin-left: 11px;
  font-size: 11px;
  color: #8e8e8e;
}



.suggestion-user-follow Button {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 100%;
  color: #0095f6;
  cursor: pointer;
  text-transform: none;
}

.suggestion-user-follow Button:hover {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 100%;
  color: #ffffff;
  cursor: pointer;

}