.main {
  display: flex;
  margin: 25px -70px;
}

.left-side {
  height: 720px;
  width: 480px;
}

.upper-div,
.lower-div {
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 50px;
  border-radius: 10px;
}

.upper-div {
  min-height: 420px;
}

.upper-div img {
  width: 175px;
  margin: 30px;
  margin-left: 130px;
}

.lower-div {
  height: 60px;
  margin-top: 20px;
  padding-top: 25px;
}

.lower-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.login-details,
.signup-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #ffffff;
}

.signup-details p {

  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-left:65px;
}

.login-form,
.signup-form {
  margin-top: 20px;
}

.login-form input,
.signup-form input {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline: none;
}

.login-form button,
.signup-form button,
.login-with-facebook button {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover,
.login-with-facebook button:hover {
  background-color: #3578e5;
}

.or-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dividor {
  flex: 1;
  height: 0;
  margin-top: 3px;
  border: 1px solid #8e8e8e;
}

.or {
  margin: 0 10px;
  font-weight: bold;
  color: #8e8e8e;
}

.forgot-password,
.signup-option {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
  color: #ffffff;
}

.signup-option div {
  color: white;
}

.signup-option a {
  text-decoration: none;
  color: #3897f0;
  font-weight: bold;
}

.signup-option a:hover {
  text-decoration: underline;
}
