.navbar {
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
}



.navbar img {
    padding-left: 15px;   
    width: 130px; 
}

.navbar Button {
    margin-top: 10px;
    text-transform: none;

}

.navbar Button:hover {
    background-color: #1d1d1d;
    color: #ffffff;
}

.menu {
    margin-top: 85%;
}
