.post-container {
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.post-content {
  margin-top: 15px;
  border: 1px solid #1d1d1d;
}

.post-owner {
  display: flex;
  align-items: center;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-interactions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.likes-text {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.user-name {
  margin-left: 5px;
  font-weight: 600;
}

.user-caption {
  padding: 0;
  margin: 0;
}

.divider {
  background-color: #1d1d1d;
}

.post-header Button {
  color: #ffffff;
}

.post-header Button:hover {
  color: #383737;
}